#Ignore thumbnails created by Windows
Thumbs.db

#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease/
_ReSharper*/
.vs*/

#Nuget packages
packages

#Ignore everything under tools except the files that start with !
tools*/

!tools/packages.config

#Ignore library step templates
OctopusExport/CommunityActionTemplates/*
OctopusExport/Attachments/CommunityActionTemplates*

#DSC mof files
Scripts/DSC_*/*

#Publish Folders
Octoposh/Publish
Octoposh.Web/publish
Octoposh.TestDataGenerator/publish
Octoposh.Tests/publish

#web library files
Octoposh.web/wwwroot/lib/*

