/*hola*/

.jumbotron {
	background-color: #3D293D;
	color: #fff;
	padding: 24px 0;
}

.jumbotron h1 {
	font-size: 40pt;
	display: inline-block;
}

.jumbotron img {
	padding:0px 10px 20px 0px;
}

.jumbotron p {
	font-size: 12pt;
}

.code {
	font-family: monospace;
	font-weight: 900;
}

#documentation h4 {
	display: inline;
}

table#releases > tbody > tr:first-of-type {
	font-weight: bold;
	background-color: #DFF0D8;
}

#copy-button {
	font-size: 15px;
}

