/*hola*/

.jumbotron {
	background-color: #3D293D;
	color: #fff;
	padding: 24px 0;
}

.jumbotron h1 {
	font-size: 40pt;
	display: inline-block;
}

.jumbotron img {
	padding:0px 10px 15px 0px;
}

.jumbotron p {
	font-size: 12pt;
}

.code {
	font-family: monospace;
	font-weight: 900;
}

#dalmiro-img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	display: inline-block;
}

#dalmiro-p {
	display: inline-block;
}

#where h4 {
	display: inline;
}

