/*hola*/

.jumbotron {
	/*background-color: #3D293D;*/
	background-color: #3D293D;
  	background-image: linear-gradient(180deg, #3D293D, #2E92DF 400%);
	color: #fff;
}

.code {
	font-family: monospace;
	font-weight: 900;
}

#dalmiro-img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	display: inline-block;
}

#dalmiro-p {
	display: inline-block;
}