/*hola*/

.jumbotron {
    background-color: #3D293D;
    color: #fff;
    padding: 24px 0;
}

.jumbotron h1 {
    font-size: 40pt;
    display: inline-block;
}

.jumbotron img {
    padding-right: 10px;
    margin-top: -25px;
}

.jumbotron p {
    font-size: 12pt;
}

.code {
    font-family: monospace;
    font-size: 17px;
    background-color: #3D293D;
    color: #fff;
    padding: 1px 5px;
}

.well > p {
    color: #999999;
    margin: 0;
}

.well > p a {
    color: #6E9FCA;
}

#documentation h4 {
    display: inline;
}

table#releases > tbody > tr:first-child > td{
    font-weight: bold;
    background-color: #DFF0D8;
}

#copy-button {
    font-size: 15px;
}

footer {
    bottom: 0;
    position: fixed;
    background-color: #f5f5f5;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    color: #999999;
}
th {
    text-align: center;
}