<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OctopusBindingPort" value="82" />
    <!--The test will build the Octopus URL like "http://localhost:" + [this value]-->
    <add key="OctopusAPIKey" value="API-B3ZK7BTFAKSKRTCHQFKAZNPT5Y" />
  </appSettings>
</configuration>